* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #2B283A;
}

.nav {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
}

.logo-image {
    height: 24px;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.content {
    width: 470px;
    margin: auto;
}